.slider {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.right-arrow {
    position: absolute;
    top: 50%;
    right: 48px;
    font-size: 3rem;
    z-index: 12;
    cursor: pointer;

}
.left-arrow {
    position: absolute;
    top: 50%;
    left: 48px;
    font-size: 3rem;
    z-index: 12;
    cursor: pointer;
}
.slider img {
    max-width: 100%;
}
.slide {
    opacity: 0;
    transition: opacity 1s ease-in;
}
.slide.active {
    opacity: 1;
}
.right-arrow:hover,
.left-arrow:hover {
    opacity: .7;
}

